<% if mobile_nav_visible? %>
  <nav class="md:hidden fixed bottom-0 left-0 right-0 bg-surface-container-low border-t border-outline-variant z-40">
    <ul class="flex">
      <% mobile_nav_items.each do |item| %>
        <li class="flex-1">
          <%= link_to item[:path], class: "flex flex-col items-center justify-center gap-1 py-sm text-label-sm #{current_page?(item[:path]) ? 'text-primary' : 'text-on-surface-variant'}" do %>
            <span class="material-symbols-outlined"><%= item[:icon] %></span>
            <span><%= item[:label] %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
